<div class="row">
  <div class="col s12 no-touch">
    <h2>Checkout</h2>

    <div class="ms-indicator">

      <div class="row no-margin progress-line">
	<div class="col s12">
	  <div class="active-tabs"></div>
	  <div class="inactive-tabs"></div>
	</div>
      </div>
      
      <div class="row no-margin links">
	<div class="col first-item">
	  <a href=""><span><em></em></span>Delivery</a>
	</div>
	<div class="col">
	  <a href=""><span><em></em></span>Confirmation</a>
	</div>
	<div class="col">
	  <a href=""><span><em></em></span>Payment</a>
	</div>
	<div class="col last-item">
	  <a href=""><span><em></em></span>Finish</a>
	</div>
      </div>
    </div>

  </div>
</div>

