<div class="row no-margin">
  <div class="col s12">

    <ul class="pagination center-align">
      <li class="page-left {% if paging.page == 1 %}disabled{% else %}waves-effect{% endif %}">
	<a {% if paging.page != 1 %}href="?page={{paging.page - 1}}{% if searchString %}&search={{searchString}}&searchAll={{searchAll}}{% endif %}"{% endif %}>
	  <span><i class="material-icons">chevron_left</i></span>
	  <span class="text">Back</span>
	</a>
      </li>
      {% for i in range(1, paging.total + 1) %}
	<li class="{% if paging.page == i %}active{% endif %} waves-effect">
	  <a href="?page={{i}}{% if searchString %}&search={{searchString}}&searchAll={{searchAll}}{% endif %}">{{i}}</a>
	</li>
      {% endfor %}
      <li class="page-right {% if paging.page == paging.total %}disabled{% else %}waves-effect{% endif %}">
	<a {% if paging.page != paging.total %}href="?page={{paging.page + 1}}{% if searchString %}&search={{searchString}}&searchAll={{searchAll}}{% endif %}"{% endif %}>
	  <span class="text">Right</span>
	  <span><i class="material-icons">chevron_right</i></span>
	</a>
      </li>
    </ul>
  </div>
</div>
