<div class="row">
  <div class="col s12">
    <ul class="pagination center-align">
      {% for i in range(1, paging.total + 1) %}
	<li class="{% if paging.page == i %}active{% endif %} waves-effect">
	  <a href="?page={{i}}{% if searchString %}&search={{searchString}}&searchAll={{searchAll}}{% endif %}">{{i}}</a>
	</li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  {% for product in products.rows %}
    {% if loop.index0 % 3 == 0 and not loop.last and not loop.first %}
      </div>
      <div class="row">
    {% endif %}

    <div class="col s4">
      <div class="product-item-wrapper card-panel">

	<div class="product-item" data-product-id="{{product.product_id}}">
	  <div class="center-align">
	    <img src="/static/resources/product_images/{{ product.thumbnail }}" alt="{{ product.name }}">
	  </div>
	  <div class="center-align">
	    <a href="/product/{{product.product_id}}"><strong>{{ product.name }}</strong></a>
	  </div>
	  <div class="center-align">
	    <div class="price">
	      <p class="current-price">
		{% if product.discounted_price %}
		  {{product.discounted_price | price}}
		{% else %}
		  {{product.price | price}}
		{% endif %}
	      </p>
	      {% if product.discounted_price %}
		<p class="old-price">{{product.price | price}}</p>
	      {% endif %}
	    </div>
	  </div>
	</div>
      </div>
    </div>

  {% endfor %}
</div>
