
<div class="row">
  {% for product in products.rows %}
    {% if loop.index0 % 3 == 0 and not loop.last and not loop.first %}
      </div>
      <div class="row">
    {% endif %}

    <div class="col s4">
      <div class="product-item-wrapper card-panel hoverable center-align">
	<div class="product-quick-view">
	  <img src="/static/img/ajax_small.gif" class="quick-view-loading" alt="Loading...">
	</div>

	<div class="product-item" data-product-id="{{product.product_id}}">
	  <div>
	    <img class="thumbnail" src="/static/resources/product_images/{{ product.thumbnail }}" alt="{{ product.name }}">
	  </div>
	  <div>
	    <a href="/product/{{product.product_id}}"><strong>{{ product.name }}</strong></a>
	  </div>
	  <div>
	    <div class="price">
	      <p class="current-price">
		{% if product.discounted_price %}
		  {{product.discounted_price | price}}
		{% else %}
		  {{product.price | price}}
		{% endif %}
	      </p>
	      {% if product.discounted_price %}
		<p class="old-price">{{product.price | price}}</p>
	      {% endif %}
	    </div>
	  </div>
	</div>
      </div>

    </div>

  {% endfor %}
</div>
