<div class="row" data-product-id="{{product.product_id}}">
  <div class="col s12">
    <div class="center-align">
      <a class="nojs" href="/product/{{product.product_id}}"><strong>{{ product.name }}</strong></a>
    </div>
    <div class="center-align">
      <p><strong>{{ product.price }}</strong> {{ product.discounted_price }}</p>
    </div>
    <form onsubmit="event.preventDefault();">
      <input name="quantity" type="hidden" value="1">
      <div class="center-align">
	{% for attributeNane, attributeList in attributes %}
	  <div>
	    {% for attributeId, attribute in attributeList %}
	      <label>
		<input class="with-gap" name="{{ attributeNane }}"
		       value="{{ attribute.attribute_value_id }}" type="radio" />
		       <span>{% if attributeNane == 'Size' %}{{attribute.attribute_value}}{% endif %}</span>
	      </label>
	    {% endfor %}
	  </div>
	{% endfor %}
      </div>
      <div class="center-align">
      <button class="waves-effect waves-light btn-large add-to-cart">Add to cart</button>
    </div>
    </form>
  </div>
</div>

