{% extends "layout.html" %}

{% block content %}
  <br>

  <div class="cart-items">
    <div class="row">
      <div class="col s12">
	<strong>These are the products in your shopping cart:</strong>
      </div>
    </div>
    <div class="item-list">

    </div>
  </div>

  <br>
  <br>
  <div class="saved-items">
    <div class="row">
      <div class="col s12">
	<strong>Save products to buy later:</strong>
      </div>
    </div>

    <div class="item-list">
    </div>

  </div>


{% endblock %}




