{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="col s12">

      <div class="card-panel">
	
	  {% include "_checkout_step_indicator.html" %}

	  <div class="row">
	    <div class="col s12 center-align">
	      <img src="/static/img/payment-success.png">
	    </div>
	  </div>
	  <div class="row">
	    <div class="col s12 center-align">
	      <h2>Success!</h2>
	      <br>
	      Your items will be shipped shortly, you will get an email with details.
	    </div>
	  </div>

	  <div class="row cart-actions">
	    <div class="col s12 center-align">
	      <a href="/" class="proceed waves-effect waves-light red btn btn-flat">Back</a>
	    </div>
	  </div>
      </div>
    </div>
  </div>
  
{% endblock %}
