{% extends "layout.html" %}

{% block content %}
  <br>
  <div class="row home">
    <div class="col s4 card-panel">
      <div class="row departments">
	<div class="col s12">

	  <ul class="products-filter">
	    <li><strong>Department</strong></li>
	    {% for department in departments %}
	      <li class="department">
		<label>
		  <input {% if department.department_id == departmentId %}checked{% endif %} name="department" value="{{department.department_id}}" type="radio">
		  <span>{{department.name}}</span>
		</label>
	      </li>
	    {% endfor %}
	  </ul>

	</div>
      </div>
      <div class="row categories">
	<div class="col s12">
	</div>
      </div>
      <div class="row shoppingcart-summary">
	<div class="col s12">
	</div>
      </div>
    </div>
    <div class="col s8 products-list">
      
    </div>
  </div>
{% endblock %}
