<header>
  <div class="subheader">
    <div class="container">
        <div class="row no-margin">
	  <div class="col s8">
	    Hi!
	    {% if customer.customer_id %}
	      <a class="customer-menu-trigger" href="" data-target="customer-menu">{{ customer.name }}</a>
	      <!-- Start customer menu -->
	      <ul id="customer-menu" class="dropdown-content">
		<li><a href="/customer">Profile</a></li>
		<li><a href="/orders">Orders</a></li>
		<li class="divider" tabindex="-1"></li>
		<li><a href="/logout">Logout</a></li>
	      </ul>
	      <!-- End customer menu -->
	    {% else %}
	      <a href="/login">Sign In</a> or <a href="/register">Register</a>
	    {% endif %}
	  </div>
	  <div class="col s4 right-align shopping-cart">
	    Your bag: <a href="/shoppingcart/details">$0.00</a>
	  </div>
	</div>
    </div>
  </div>

  <div class="mainheader">
    <div class="container">
      <div class="row no-margin">
	<div class="col s6">
	  <a class="logo" href="/"><img src="/static/img/logo.png" alt="Home"></a>
	</div>
	<div class="col s6 right-align search">
	  <form onsubmit="event.preventDefault();">
	    <label class="{% if searchString %}shown{% endif %}">
	      <a class="show" href="#"><i class="small search material-icons">search</i></a>
	      <a class="close" href="#"><i class="tiny close material-icons">close</i></a>
	      <span class="search-all">
		<label>
		  <input type="checkbox"  class="filled-in"  {% if searchAll == 'yes' %}checked{% endif %}  name="search_all">
		  <span>All words</span>
		</label>
	      </span>
	      <input class="search" value="{{searchString}}" placeholder="search anything" name="search" type="text" value="{{searchString}}" class="browser-default validate">
	    </label>
	  </form>
	</div>
      </div>
    </div>
  </div>
</header>


<div class="container">
  <div class="content">
    {% block content %}{% endblock %}
  </div>
</div>
