{% extends "layout.html" %}

{% block content %}

  <br />

  <div class="row">
    <div class="col s5">

      <div class="row">
	<div class="col s12">


	  <div class="customize center-align" id="customize">
	    <div>
              <div>
		<img src="/static/resources/product_images/{{ product.image }}" alt="{{ product.name }} 1">
              </div>
	    </div>
	    <div>
              <div>
		<img src="/static/resources/product_images/{{ product.image_2 }}" alt="{{ product.name }} 2">
              </div>
	    </div>
	  </div>
	  <div class="customize-tools">
	    <ul class="thumbnails" id="customize-thumbnails">
              <li>
		<img src="/static/resources/product_images/{{ product.image }}" alt="{{ product.name }} 1">
              </li>
              <li>
		<img src="/static/resources/product_images/{{ product.image_2 }}" alt="{{ product.name }} 2">
              </li>
	    </ul>
	    <ul class="controls" id="customize-controls">
              <li class="prev">
		<i class="material-icons">chevron_left</i>
              </li>
              <li class="next">
		<i class="material-icons">chevron_left</i>
              </li>
	    </ul>
	  </div>
	</div>
      </div>

      
    </div>
    <div class="col s7">
      <nav>
	<div class="nav-wrapper">
	  <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a class="breadcrumb">{{product.name}}</a>
	  </div>
	</div>
      </nav>
      <h2>{{product.name}}</h2>
      <div>
	{{product.price}} <span class="discounted-price">{{product.discounted_price}}</span>
      </div>
      <div>
	{{product.description}}
	
      </div>
      <br />
      <div>
	{% for attributeNane, attributeList in attributes %}
	  <div><strong>{{attributeNane}}</strong></div>
	  <div>
	    {% for attribute in attributeList %}
	      <label>
		<input class="with-gap" name="{{attributeNane}}" type="radio" />
		<span>{{attribute.attribute_value}}</span>
	      </label>
	    {% endfor %}
	  </div>
	{% endfor %}
      </div>
      <div>
	<div class="row">
	  <div class="input-field col s12">
            <input name="quantity" type="number" class="validate">
            <label for="quantity">Quantity</label>
          </div>
	</div>
      </div>    
      <div>
	<button class="waves-effect waves-light btn-large">Add to cart</button>
      </div>
    </div>
  </div>

{% endblock %}
