{% extends "layout.html" %}

{% block content %}

  <div class="row register">
    <div class="col s12">
      <div class="row">
	<div class="col s3"></div>
	<div class="col s6">
	  <div class="card-panel z-depth-3">

	    <div class="row no-margin">
	      <div class="col s12">

		<div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false">Sign in with Facebook</div>
		<br>

		<div class="auth-header">
		  <p>Or</p>
		  <p>Sign Up</p>
		</div>

	      </div>
	    </div>

	    <div class="row no-margin">
	      <form class="col s12" onsubmit="event.preventDefault();">
		<div class="row no-margin">
		  <div class="input-field col s12">
		    <input id="name" name="name" placeholder="Name"  type="text" class="browser-default validate">
		  </div>
		</div>
		<div class="row no-margin">
		  <div class="input-field col s12">
		    <input id="email" name="email" placeholder="Email" type="text" class="browser-default validate">
		  </div>
		</div>
		<div class="row no-margin">
		  <div class="input-field col s12">
		    <input id="password" type="password" placeholder="Password" name="password" class="browser-default validate">
		  </div>

		</div>
		<div class="row no-margin">
		  <div class="input-field col s12">
		    <input id="confirm_password" type="password" placeholder="Re-type Password" name="confirm_password" class="browser-default validate">
		  </div>

		</div>
		<div class="row no-margin">
		  <div class="col s12 valign-wrapper submit-container">
		    <button class="waves-effect waves-light red btn-flat btn-large register">Sign Up</button>
		  </div>
		</div>
	      </form>
	    </div>

	    <div class="row">
	      <div class="col s12">
		Already a member?  <a href="/login">Sign In</a>
	      </div>
	    </div>

	  </div>
	</div>
        <div class="col s3"></div>
      </div>
    </div>
  </div>

{% endblock %}
