#page-loading img {
    /* https://stackoverflow.com/a/10795144 */
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
}

.discounted-price {
    text-decoration: line-through;
}

#customize-thumbnails li {
  display: inline;
  list-style-type: none;
}

.thumbnails { 
  margin: 20px 0;
  text-align: center;
}
.thumbnails li {
  display: inline-block;
  cursor: pointer;
  border: 5px solid #fff;
}
.thumbnails .tns-nav-active {
  background: none;
}
.thumbnails li { height: 50px; }
.thumbnails img { vertical-align: bottom; height: auto; max-height: 50px; }


div.product-item-wrapper { position: relative; clear: both; }
div.product-item-wrapper > div.quick-add-to-cart {
    position: absolute;
    width: 94%;
    height: 100%;
    background-color: white;
    z-index: 2;
    opacity: 0.95;
    top: 0;
    left: 0.75rem;
}


div.product-item-wrapper > div.quick-add-to-cart img.quick-view-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
}

