// Custom
@import "ms_indicator";

body {
    background-color: #f7f7f7;
}


.container {
  max-width: 960px;
}

#page-loading img {
    /* https://stackoverflow.com/a/10795144 */
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
}

#customize-thumbnails li {
  display: inline;
  list-style-type: none;
}

.thumbnails { 
  margin: 20px 0;
  text-align: center;
}
.thumbnails li {
  display: inline-block;
  cursor: pointer;
  border: 5px solid #fff;
}
.thumbnails .tns-nav-active {
  background: none;
}
.thumbnails li { height: 50px; }
.thumbnails img { vertical-align: bottom; height: auto; max-height: 50px; }


.controls .next {
    display: inline-block;
    float: right;
    margin-top: -50px;
    cursor: pointer;
}

.controls .prev {
    display: inline-block;
    float: left;
    margin-top: -50px;
    cursor: pointer;
}

.products-list {
    > .row {
	margin-bottom: 0;
    }
}

.card-panel {
    border-radius: 0;
    box-shadow: none;
}

.items-per-page {
    span > a {
	color: inherit;
    }

    span {
	font-weight: bold;
    }

    span.current {
	color: #b4b4b4;
    }
}

.home .paging {
    height: 60px;

    .page-right, .page-left {
	height: 38px;

	a {
	    padding: 0;
	}

	span:not(.text) {
	    background-color: #efefef;
	    width: 36px;
	    height: 36px;
	    border-radius: 18px;
	    display: inline-block;

	    i {
		margin-top: 3px;
	    }
	}

	span.text {
	    display: inline-block;
	    margin-top: -21px;
	    vertical-align: middle;
	}
    }

    .page-right {
	float: right;

	span.text {
	    margin-right: 15px;
	}
    }

    .page-left {
	float: left;

	span.text {
	    margin-left: 15px;
	}

    }
}

.no-margin {
    margin: 0;
}

.product-item-wrapper {
    position: relative;
    height: 250px;

    .product-quick-view {
	img.quick-view-loading {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin: -16px 0 0 -16px;
	}

	button {
	    margin-top: 5px;
	}
    }

    > .product-item, > .product-quick-view {
	padding: 15px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
    }

    &:not(:hover) .product-item {
	z-index: 1;
	background-color: #fff;
	opacity: 1;
    }

    &:hover .product-quick-view {
	opacity: 0.95;
	z-index: 1;
	background-color: #fff;
    }
}

.subheader {
    height: 40px;
    padding: 8px 0;
    font-weight: bold;
}

.mainheader {
    background-color: #ffffff;
    height: 70px;
    padding: 5px 0;

    .logo img {
	height: 60px;
	width: 205.6px;
    }

    .search {
	input, div, a, i {
	    outline: none;
	}

	label {
	    position: relative;

	    span.search-all {
		// https://stackoverflow.com/a/3332179
		transition: opacity 0.2s ease-out;
		transition-delay: 0.5s;
		opacity: 0;
		height: 0;
		overflow: hidden;
		position: absolute;
		right: 35px;
		margin-top: 20px;

		span {
		    padding-left: 26px;
		    z-index: 5;
		}
	    }

	    i.search {
		position: absolute;
		top: 0;
		left: 25px;
		z-index: 1;
		margin-top: -5px;
		color: #4f4f4f;
	    }

	    i.close {
		transition: opacity 0.2s ease-out;
		transition-delay: 0.5s;
		opacity: 0;
		height: 0;
		overflow: hidden;

		position: absolute;
		right: 12.5px;
		top: 5px;
		margin-top: -5px;
		z-index: 1;
		color: #4f4f4f;
	    }

	    input.search {
		pointer-events:none;
		color: #4f4f4f;
		margin-top: 10px;
		transition: width 0.2s ease-in-out 0.2s;
		transition: padding 0.2s ease-in-out 0.2s;
		width: 0;
		padding: 7.5px 7.5px 7.5px 44px;
		border: 1px solid #e0e0e0;
		opacity: 0;
		height: 25px;
		border-radius: 25px;
	    }

	    input:focus {
		border: 1px solid #c0c0c0 !important;
		box-shadow: none !important;
	    }

	}

	label.shown {
	    span.search-all {
		height: 70px;
		opacity: 1;
	    }

	    i.close {
		height: auto;
		opacity: 1;
	    }

	    i.search {
		left: 12.5px;
		z-index: 0;
	    }

	    input.search {
		pointer-events: auto;
		width: 200px;
		opacity: 0.9;
		padding-right: 140px;
	    }
	}

    }
}

div.login, div.register {

    color: #2e2e2e;
    margin-top: 35px;
    text-align: center;

    ::placeholder {
	color: #2e2e2e;
    }

    .fb-login-button {
	height: 40px;
    }

    .auth-header {
	font-weight: bold;
	font-size: 18px;
    }

    .input-field {
	margin: 5px 0;

	input {
	    text-align: center;
	}
    }


    button {
	margin: 20px 0 18px 0;
	color: #fff;
	font-weight: bold;
	width: 60%;
	border-radius: 27px;
    }
}


.quantity-select, .custom-form, div.login, div.register {
    input {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 18px;
	text-align: center;
    }
}


.custom-form {

    input {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 18px;
	text-align: center;
    }

    .input-field {
	margin: 8px auto;
    }

    hr {
	background-color: #e5e5e5;
	height: 2px;
	border: 0;
	margin: 15px 0;
    }

    label {
	position: static;
	font-weight: bold;
	color: #b4b4b4;
	font-size: 15px;

    }

    input {
	padding: 15px;
	border: 1px solid #e1e1e1;
	text-align: left;
    }
}

.error-msg {
    color: red;
}

.has-error {
    input {
	border: 1px solid red;
    }
}

// https://stackoverflow.com/a/4407335
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.quantity-select {
    a i {
	color: #2e2e2e;
    }

    input {
	width: 41px;
	padding: 6px 0;
	border-radius: 15px;
	font-weight: bold;
    }
}

.updating-content {
    position: absolute;
    z-index: 5;
    background-color: white;
    width: 100%;
    display: table;
    top: 0;
    height: 100%;
    opacity: 0.5;

    > div {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
    }
}

h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}


.cart-actions {
    .btn {
	border-radius: 19px;
	text-transform: none;
	font-weight: bold;
	padding: 0 25px;
    }

    .btn-flat.proceed {
	color: white;
    }
}

.bold {
    font-weight: bold;
}

.cred {
    color: #f62f5e;
}

.shop-table {
    .header {
	color: #b4b4b4;
	font-weight: bold;
	margin-bottom: 0;
	padding: 10px 0;
    }

    .data-list > div {
	margin-bottom: 0;
	padding: 10px 0;
    }

    .data-list > div.odd {
	background-color: #f7f7f7;
    }
}

.order-summary {
    .summary-list {
	padding-right: 65px;
    }
}

.payment-option {
    text-align: center;
    padding: 20px;
    border: 1px solid #6eb2fb;
    background-color: #f3f6f9;

    img {
	width: 160px;
    }
}

.cart-details {
    .card-panel {
	box-shadow: none;
    }

    hr {
	background-color: #e5e5e5;
	height: 2px;
	border: 0;
	margin: 15px 0;
    }

    .price {
	font-weight: bold;
	font-size: 18px;
    }

    .va-cell {
	height: 60px;
	display: table-cell;
	vertical-align: middle;
	position: relative;
    }


    .item-list .header {
	color: #b4b4b4;
	font-weight: bold;
    }

    img.thumbnail {
	height: 70px;
	padding: 5px;
	border: 1px solid #e5e5e5;
	display: inline-block;
    }

    .item-info {
	display: inline-block;
	min-height: 70px;
	vertical-align: top;
	padding-left: 10px;
	position: relative;

	.item-name {
	    font-weight: bold;
	    color: #2e2e2e;
	}

	.item-actions {
	    position: absolute;
	    bottom: 0;
	    font-size: 12px;
	    color: #b3b3b3;
	    width: 190px;

	    a.save i {
		color: orange;
	    }

	    a.move i {
		color: green;
	    }

	    a.delete i {
		color: red;
	    }

	    a.save span,
	    a.move span,
	    a.delete span {
		display: inline-block;
		vertical-align: top;
		margin-top: -1px;
		color: #b3b3b3;
	    }

	    a.move,
	    a.save {
		margin-left: 10px;
	    }
	}
    }

}


.price {
    margin: 5px 0;

    .current-price {
	color: #ee6e73;
	font-size: 25px;
	margin: 0;
    }

    .old-price {
	text-decoration: line-through;
	margin: 0;
    }
}



.product h2 {
    margin-top: 0;
    padding-top: 0;
}


// Pagination Styles
nav.clean {
    background-color: #fff;
    border: 0;
    box-shadow: none;

    .breadcrumb {
	color: rgba(0,0,0,1);

    }

    .breadcrumb::before {
        color: #000;
    }

    .nav-wrapper  > div {
	padding-left: 0;
    }

}

